---
import Layout from '../layouts/Layout.astro';
import Marquee from '../components/Marquee.svelte';
import Section from '../components/Section.svelte';
import Card from '../components/Card.svelte';
---

<Layout>
	<Marquee client:only />

	<div class="special-edition-header">
		<div class="header-text">
			<p>Volume II, No. 12</p>
			<p><strong>SPECIAL EDITION</strong></p>
			<p>11-11-2011</p>
		</div>
	</div>

	<Section title="ABOUT">
		<p>hey! my name is manitej! <br>
		<br>
		i'm a computer science student currently working at Hack Club.<br>
		<br>
		stuff i like doing:<br>
		- learning how to do new things<br>
		- designing things! i &lt;3 figma<br>
		- making cool shit</p>
	</Section>

	<div class="accent-divider">
		<div class="inner" />
	</div>

	<Section title="PROJECTS" color="#FF6A73">
		<div class="cards">
			<Card 
				logo="/projects/arcade.svg" 
				style='background-image: url("/projects/arcade_bg.png"); background-size: contain;'
				href="https://hackclub.com/arcade"
			/>
			<Card 
				logo="/projects/midnight.svg" 
				style='background-image: url("/projects/midnight_bg.png"); background-size: cover;'
				href="https://midnight.hackclub.com/"
			/>
			<Card 
				logo="/projects/campfire.svg" 
				style='background-image: url("/projects/campfire_bg.png"); background-size: cover;'
				href="https://campfire.hackclub.com/"
			/>
		</div>
	</Section>

	<Section title="LIBRARY" color="#02B9BE">
		<div style="height: 300px; position: relative;">
			<h2 class="library-coming-soon">coming soon</h2>
		</div>
	</Section>


	<div class="chroma">
		<svg width="133" height="24" viewBox="0 0 133 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="23.9375" height="26.5998" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0 5.81362e-06)" fill="#15788C"/>
			<rect width="23.9375" height="26.5998" transform="matrix(4.37114e-08 1 1 -4.37114e-08 26.5986 5.81362e-06)" fill="#02B9BE"/>
			<rect width="23.9375" height="26.5998" transform="matrix(4.37114e-08 1 1 -4.37114e-08 53.1992 5.81362e-06)" fill="#FFEECC"/>
			<rect width="23.9375" height="26.5998" transform="matrix(4.37114e-08 1 1 -4.37114e-08 79.7998 5.81362e-06)" fill="#FFB1A3"/>
			<rect width="23.9375" height="26.5998" transform="matrix(4.37114e-08 1 1 -4.37114e-08 106.4 5.81362e-06)" fill="#FF6A73"/>
		</svg>
	</div>	
</Layout>

<style>
	.special-edition-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 36px;

		background-color: var(--secondary-color);
		color: var(--primary-white);

		font-family: 'Rubik', sans-serif;
		font-weight: 500;
		font-size: 20px;

		.header-text {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			width: 80%;

			* {
				user-select: none;
			}
		}
	}

	.accent-divider {
		width: 100%;
		height: 36px;

		background-color: var(--secondary-black);

		.inner {
			width: 100%;
			height: 100%;

			background-image: url('/public/circle.svg');
			background-repeat: space;

			background-position: center center;
		}
	}

	.cards {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.library-coming-soon {
		font-family: 'Rubik';
		font-style: italic;
		font-weight: 700;
		font-size: 32px;
		line-height: 100%;text-align: center;color: #FFEECC;	
		text-align: center;
		color: #FFEECC;

		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.chroma {
		position: relative;
		height: 72px;
		svg {
			position: absolute;
			top: 50%;
			right: 24px;
			transform: translateY(-50%);
		}
	}
</style>