---
import Marquee from '../components/Marquee.svelte';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const today = new Date();
---

<Layout>
	<div class="topbar">
		<h1 style="text-align: left;">YOU'RE ON</h1>
		<div class="accent">
			<div class="inner" />
		</div>
	</div>

	<Marquee client:only/>

	<div class="special-edition-header">
		<div class="header-text">
			<p>Volume II, No. 12</p>
			<p><strong>SPECIAL EDITION</strong></p>
			<p>11-11-2011</p>
		</div>
	</div>

	<div class="accent-header">
		<div class="inner" />
	</div>

	<div class="nav">
		<div class="desig"></div>
		<div class="about"></div>
		<div class="library"></div>
	</div>
</Layout>

<style>
	.topbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		width: 100%;
		height: 90px;

		h1 {
			font-family: 'Rubik', sans-serif;
			font-weight: 700;
			font-size: 140px;
			color: #47425E;
			margin: 0;

			text-wrap: nowrap;
			width: min-content;

			line-height: 0.65;

			z-index: 10;

			padding-left: 36px;

			width: 55%;
		}

		.accent {
			background-color: #FFB1A3;
		
			height: 90px;

			z-index: 0;

			width: 45%;
		}

		.accent .inner {
				width: 100%;
				height: 100%;

				background-image: url('/public/topbar.svg');
				background-position: center center;
				background-size: 15% 130%;
			}
	}

	.special-edition-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 36px;

		background-color: #02B9BE;
		color: #FFEECC;

		font-family: 'Rubik', sans-serif;
		font-weight: 500;
		font-size: 20px;

		.header-text {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			width: 80%;
		}
	}

	.accent-header {
		width: 100%;
		height: 36px;

		background-color: #47425E;

		.inner {
			width: 100%;
			height: 100%;

			background-image: url('/public/circle.svg');
			background-repeat: space;

			background-position: center center;
		}
	}

	.nav {
		display: flex;
		flex-direction: row;
		align-items: center;

		height: 266px;
	}

	.desig {
		background-color: #47425E;
		border: 12px solid #02B9BE;
		box-sizing: border-box;

		width: 205px;
		height: 100%;
	}

	.library {
		box-sizing: border-box;
		border: 24px solid #FF6A73;

		background-color: #FFB1A3;

		height: 100%;
		width: 300px;
	}

	.about {
		background-color: #15788C;

		width: 693px;
		height: 100%;
	}
</style>
