---
import Marquee from '../components/Marquee.svelte';
import Library from '../components/Library.svelte';
import Gallery from '../components/Gallery.svelte'; 
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const today = new Date();
---

<Layout>
	<div class="topbar">
		<h1 style="text-align: left;">YOU'RE ON MANITEJ DOT COM</h1>
	</div>

	<Marquee client:only/>

	<div class="special-edition-header">
		<div class="header-text">
			<p>Volume II, No. 12</p>
			<p><strong>SPECIAL EDITION</strong></p>
			<p>11-11-2011</p>
		</div>
	</div>

	<div class="accent-header">
		<div class="inner" />
	</div>

	<div class="grid-thing">
		<Gallery />
		<Library />
	</div>
</Layout>

<style>
	.grid-thing {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.topbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		width: 100%;
		height: 60px;

		h1 {
			font-family: 'Rubik', sans-serif;
			font-weight: 700;
			font-size: 90px;
			color: var(--secondary-black);
			margin: 0;

			text-wrap: nowrap;
			width: min-content;

			line-height: 0.65;

			z-index: 10;

			width: 100%;

			user-select: none;
		}
	}

	.special-edition-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 36px;

		background-color: var(--secondary-color);
		color: var(--primary-white);

		font-family: 'Rubik', sans-serif;
		font-weight: 500;
		font-size: 20px;

		.header-text {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			width: 80%;

			* {
				user-select: none;
			}
		}
	}

	.accent-header {
		width: 100%;
		height: 36px;

		background-color: var(--secondary-black);

		.inner {
			width: 100%;
			height: 100%;

			background-image: url('/public/circle.svg');
			background-repeat: space;

			background-position: center center;
		}
	}
</style>