<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/png" href="/favicon.png" />
		<title>manitej.com</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Darker+Grotesque:wght@300..900&display=swap" rel="stylesheet">

		<meta property="og:title" content="this is manitej.com" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://manitej.com/" />
		<meta property="og:image" content="/banner.png" />
		<meta property="og:description" content="hey! i'm manitej, and this is manitej.com!" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html, body {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100vh;
		background: #000000;
		color: #FFEECC;
		overflow: hidden;
	}
</style>
