<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	
		<meta name="generator" content={Astro.generator} />

	    <link rel="icon" type="image/png" href="/favicon.png" />
		<title>manitej.com</title>

		<meta property="og:title" content="this is manitej.com" />
    	<meta property="og:type" content="website" />
    	<meta property="og:url" content="https://manitej.com/" />
	    <meta property="og:image" content="/banner.png" />
		<meta property="og:description" content="hey! i'm manitej, and this is manitej.com!" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<h1 class="title">YOU’RE ON MANITEJ DOT COM</h1>
		<div class="outer">
			<slot />
		</div>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

	:root {
		--primary-color: #FF6A73;
		--primary-accent: #FFB1A3;
		--primary-white: #FFEECC;

		--secondary-color: #02B9BE;
		--secondary-accent: #15788C;
		--secondary-black: #47425E;
	}

	html, body {
		position: relative;

		margin: 0;
		width: 100%;

		background-image: url('/bg.svg');
		background-color: #47425E;
		background-size: cover;

		overflow: scroll;
		overflow-x: hidden;
	}

	body {
		box-sizing: border-box;

		width: 839px;
		margin: 140px auto;

		background-image: none;
		background: #47425E;

		border: 4px solid rgba(0, 0, 0, 0.2);
		box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
		border-radius: 20px;

		overflow: visible;
	}

	.title {
		/* YOU’RE ON MANITEJ DOT COM */
		position: absolute;
		left: 16px;
		top: -48px;

		font-family: 'Rubik';
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		line-height: 80%;

		color: #FF6A73;
	}

	.outer {
		border-radius: 16px; 
		overflow: hidden;
	}
</style>
